/*TYPOGRAPHY*/

body {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}

.full_page {
  height: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;
}

.full_width {
  width: 100vw;
}

.full_height {
  height: 100vh;
}

/*GRAPHIC ELEMENTS*/
.lineBottom {
  border-bottom: black dotted 1px;
  width: 100%;
}

.lineTop {
  border-top: black dotted 1px;
  width: 100%;
}

.lineV {
}

.blackbox {
  height: 10px;
  background: black;
}

.image_fit {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

/* layout */

@media only screen and (min-width: 1224px) {
  .header {
    padding-bottom: 20px;
  }
}

.center {
  display: box;
  margin-left: auto;
  margin-right: auto;
}

.H_margin-20p {
  margin-left: 20%;
  margin-right: 20%;
}

.upper {
  text-transform: uppercase;
}

.typeBox {
  font-size: 0.75rem;
  text-align: center;
  right: 50%;
  top: 0;
  margin: 0;
  background: pink;
  color: black;
  height: 40px;
  width: 10vh;
  left: -0px;
  overflow: auto;
}

.typeLabel {
  font-weight: lighter;
  font-style: italic;
}

.portfolio-container {
}

.portfolio-container_infobox {
  padding: 20px;
  height: fit-content;
}

.menu-bar {
  margin-left: 20px;
  margin-right: 20px;
}

.menu-item {
  text-transform: none;
  color: black;
  text-transform: none;
  text-decoration: none;
}

/* --- mobile ---- */

.grid .menu-item:hover {
  color: lightcoral;
}

.tags {
  padding: 20px;
  display: grid;
  height: 20px;
  justify-content: left;
  grid-template-columns: repeat(5, auto);
}

.tag {
  border: black 1px solid;
  justify-content: left;
  text-align: center;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}

/* media players */

.scroller {
  overflow-y: scroll;
}

.rowScroll {
  height: auto;
  overflow-y: visible;
  margin-top: 20px;
  overflow-y: clip;
}

.PortfolioElement_branded {
  min-height: 445px;
}

.PortfolioElement_narrative {
  min-height: 535px;
}

.rowScroll_narrative {
  position: relative;
  top: 0;
  animation: scroll_narrative 100s linear 1s infinite;
}

.rowScroll_branded {
  position: relative;
  top: 0;
  animation: scroll_branded 100s linear 1s infinite;
}

.scroll-div {
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(100%);

  -moz-animation: scroll-down 150s linear infinite;
  -webkit-animation: scroll-down 150s linear infinite;
  animation: scroll-down 100s linear infinite;
}

.project-details-mobile {
  display: none;
}

.grid-1-15-4 {
  display: grid;
  grid-template-columns: 1fr 15fr 4fr;
}

.portfolio-item {
  height: auto;
  overflow: scroll;
}

@media (max-width: 900px) {
  .project_container {
    padding-bottom: 20px;
  }

  .hideProject {
    display: none;
  }

  .project_container h1 {
    font-size: 1.4em;
    left: 0;
  }

  .project_container .blackbox {
    height: 5px;
    background: pink;
    display: none;
  }

  .projects_container {
    padding-top: 20px;
  }

  .ControlBar_module_controlBarWrapper__1988764d {
    display: none;
  }

  .project-details-mobile {
    display: block;
  }

  .project-details-mobile.hide {
    height: 0px;
    -webkit-transition:
      height,
      0.5s linear;
    -moz-transition:
      height,
      0.5s linear;
    -ms-transition:
      height,
      0.5s linear;
    -o-transition:
      height,
      0.5s linear;
    transition:
      height,
      0.5s linear;
    overflow: hidden;
  }

  .project-details-mobile.hide p {
    opacity: 0;
    transform: translateY(-120%);
    transition: transform 0.7s ease;
  }

  .project-details-mobile.active {
    height: 200px;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -ms-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
  }

  .project-details-mobile.active p {
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.7s ease;
  }

  .grid-1-15-4 {
    display: block;
  }

  .grid-1-15-4 h1 {
    width: auto;
    font-weight: 900;
    text-align: center;
    border-bottom: 2px pink solid;
  }
  .grid-1-15-4 p {
    display: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}
