strong {
  font-weight: 500;
  font-style: italic;
}

strong:hover {
  -webkit-text-stroke: 0.2px black;
  -webkit-text-fill-color: pink;
}

@font-face {
  font-family: "libertinage";
  src: local("libertinage"), url("../fonts/Libertinage.ttf");
}

@font-face {
  font-family: "Ume";
  src: local("Ume"), url("../fonts/Ume-P-Gothic_Balsa.ttf");
}

@font-face {
  font-family: "Orbikular-Light";
  src: local("Orbikular-Light"), url("../fonts/Orbikular-Light.otf");
}

h1 {
  font-family: "Orbikular-Light", sans-serif;
  font-size: 2rem;
  margin: 1rem;
  font-weight: initial;
}

h1:hover {
  color: pink;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: "Orbikular-Light", sans-serif;
  font-size: 1.5rem;
  margin: 20px;
  font-weight: initial;
}

h3 {
  font-family: "Orbikular-Light", sans-serif;
  font-size: 1.2rem;
  margin: 20px;
  font-weight: initial;
}

.accent {
  font-family: "Orbikular-Light", sans-serif;
  font-weight: bolder;
}

p {
  font-family: "Orbikular-Light", sans-serif;
  font-size: 1rem;
  margin: 20px;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
  display: box;
  margin-left: auto;
  margin-right: auto;
}
a:hover {
  color: crimson;
}

.smaller {
  font-size: 0.8rem;
}

.link {
  text-decoration: underline;
}
.link:hover {
  color: crimson;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: initial;
}

.bolder {
  font-weight: bolder;
}

.text-rotate {
  position: relative;
  transform: rotate(90deg);
  padding-left: 20px;
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
