/* css grid system */
.grid-1-19 {
  display: grid;
  grid-template-columns: 10% 90%;
}

.grid-5-1-4 {
  display: grid;
  grid-template-columns: 5fr 1fr 4fr;
}

.grid-3-3-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-65-5-30 {
  display: grid;
  grid-template-columns: 65vw 5vw 30vw;
}

.grid-30-5-30-5-30 {
  display: grid;
  grid-template-columns: 30vw 5vw 30vw 5vw 30vw;
}

.grid-3-4-3 {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
}

.grid-3-7 {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.grid-7-3 {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.grid-9-1 {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.grid-95-5 {
  display: grid;
  grid-template-columns: 95vw 5vw;
}

.grid_v_7-3 {
  display: grid;
  grid-template-rows: 7fr 3fr;
}

.grid_even--3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid_even--4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-65-05-30 {
  display: grid;
  grid-template-columns: 6.5fr 0.5fr 3fr;
}

.gridH-4-1 {
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.gridH-20-1-79 {
  display: grid;
  grid-template-rows: 20vh 1vh 79vh;
}

.gridH-25-1-74 {
  display: grid;
  grid-template-rows: 2.5fr 0.1fr 7.4fr;
}
