.project__container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.project__split-view {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}

.project__title-container {
  display: flex;
}

.project__title {
  font-size: 3em;
  font-weight: 900;
  -webkit-text-stroke: 0.2px black;
}

.close {
  text-align: end;
}

#about--description {
  font-size: 20px;
  margin: 20px;
  padding-bottom: 20px;
  max-width: 40%;
}
.react-player,
iframe {
  max-width: 1800px;
  width: 1800px;
  height: 900px;
}
