/*TYPOGRAPHY*/

body{
    bottom:0;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
}

.full_page{
    height: 100vh;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}

@font-face {
    font-family: "libertinage";
    src: local("libertinage"), url("fonts/Libertinage.ttf");
}

@font-face {
    font-family: "Ume";
    src: local("Ume"), url("fonts/Ume-P-Gothic_Balsa.ttf");
}

@font-face {
    font-family: "Orbikular-Light";
    src: local("Orbikular-Light"), url("fonts/Orbikular-Light.otf")
}

h1 {
    font-family: "Orbikular-Light", sans-serif;
    font-size: 2rem;
    margin: 1rem;
    font-weight: initial;
}

h2{
    font-family: "Orbikular-Light", sans-serif;
    font-size: 1.5rem;
    margin: 20px;
    font-weight: initial;
}

h3{
    font-family: "Orbikular-Light", sans-serif;
    font-size: 1.2rem;
    margin: 20px;
    font-weight: initial;
}


.accent{
    font-family: "Orbikular-Light", sans-serif;
    font-weight: bolder;
}

p {
    font-family: "Orbikular-Light", sans-serif;
    font-size: 1rem;
    margin: 20px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black;
    display: box;
    margin-left: auto;
    margin-right: auto;
}
a:hover{
    color:crimson;
}

.smaller{
    font-size: 0.8rem;
}

.link {
    text-decoration: underline;
}
.link:hover{
    color: crimson;
    cursor: pointer;
}

.uppercase{
    text-transform: uppercase;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: initial;
}

.bolder{
    font-weight: bolder;
}

.text-rotate{
    position: relative;
    transform: rotate(90deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.full_width{
    width: 100vw;
}

.full_height{
    height:100vh
}


/*GRAPHIC ELEMENTS*/
.lineBottom{
    border-bottom: black dotted 1px;
    width: 100%;
}

.lineTop{
    border-top: black dotted 1px;
    width: 100%;
}

.lineV{

}

.blackbox{
    height: 10px;
    background: black;
}

.image_fit{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

/* layout */

.center {
    display: box;
    margin-left: auto;
    margin-right: auto;
}

.H_margin-20p {
    margin-left: 20%;
    margin-right: 20%
}

.upper{
    text-transform: uppercase;
}

.typeBox{
    font-size: 0.75rem;
    text-align: center;
    right: 50%;
    top: 0;
    margin: 0;
    background: black;
    color: white;
    height: 40px;
    width: 10vh;
    left: -0px;
    overflow: auto;
}

.typeLabel{
    font-weight: lighter;
    font-style: italic;
}

.grid-1-19{
    display: grid;
    grid-template-columns: 10% 90%;
}

.grid-5-1-4{
    display: grid;
    grid-template-columns: 5fr 1fr 4fr;
}

.grid-1-15-4{
    display: grid;
    grid-template-columns: 1fr 15fr 4fr;
}

.grid-3-3-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-65-5-30{
    display: grid;
    grid-template-columns: 65vw 5vw 30vw;
}

.grid-30-5-30-5-30{
    display: grid;
    grid-template-columns: 30vw 5vw 30vw 5vw 30vw;


}

.grid-3-4-3{
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
}

.grid-3-7{
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.grid-7-3{
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.grid-9-1{
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.grid_v_7-3{
    display: grid;
    grid-template-rows: 7fr 3fr;
}

.grid_even--3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid_even--4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gridH-20-1-79{
    display: grid;
    grid-template-rows: 20vh 1vh 79vh;
}

.portfolio-container{

}

.portfolio-container_infobox{
    padding: 20px;
    height: fit-content;
}

.menu-bar{
    margin-left: 20px;
    margin-right: 20px;
}

.menu-item{
    text-transform: none;
    color: black;
    text-transform: none;
    text-decoration: none;
}

/* --- mobile ---- */

.grid


.menu-item:hover{
    color: lightcoral;
}


.tags{
    padding: 20px;
    display: grid;
    height: 20px;
    justify-content: left;
    grid-template-columns: repeat(5, auto);
}

.tag{
    border: black 1px solid;
    justify-content: left;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

/* media players */

.theater{
    gap: 20px;
}

.video{
    padding:2px;
}

.scroller {
    overflow-y: scroll;
}

.rowScroll {
    height: auto;
    overflow-y: visible;
    margin-top: 20px;
    overflow-y: clip;

}

.PortfolioElement_branded{
    min-height: 445px;
}

.PortfolioElement_narrative{
    min-height: 535px;
}

.rowScroll_narrative{
    position: relative;
    top: 0;
    animation: scroll_narrative 100s linear 1s infinite;
}


.rowScroll_branded{
    position: relative;
    top: 0;
    animation: scroll_branded 100s linear 1s infinite;
}

.scroll-div{
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(100%);

    -moz-animation: scroll-down 150s linear infinite;
    -webkit-animation: scroll-down 150s linear infinite;
    animation: scroll-down 100s linear infinite;
}

@keyframes scroll_branded {
    100% {top: -3150px}
}

@keyframes scroll_narrative {
    100% {top: -5000px}
}

@-moz-keyframes scroll-down {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%);}
}

/* CHROMIE */
@-webkit-keyframes scroll-down {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-down {
    from {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(00%);
    }
    to {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}