/*TYPOGRAPHY*/

@font-face {
    font-family: "Basteleur-Bold";
    src: local("Basteleur-Bold"), url(fonts/Basteleur-Bold.woff);
}

@font-face {
    font-family: "daubenton";
    src: local("daubenton"), url(fonts/daubentonwebfont.ttf);
}

h1 {
    font-family: daubenton;
}

p {
    font-family: daubenton;
}
.full_width{
    width: 100%;
}

/*GRAPHIC ELEMENTS*/
.line{
    border-bottom: black solid 2px;
    height: 2px;
    width: 100%;
}

.H_margin-20p {
    margin-left: 20%;
    margin-right: 20%
}

.upper{
    text-transform: uppercase;
}

.grid-3-7{
    display: grid;
    grid-template-columns: 3fr 7fr;
}

/* media players */

.theater{
    width: 100vw;
    height: 70vh;
}

.video-small{
    width: 100%;
}