/*TYPOGRAPHY*/

@font-face {
    font-family: "KWBio27-Display";
    src: local("KWBio27-Display"), url("fonts/KWBio27-Display.otf");
}

h1 {
    font-family: "KWBio27-Display";
}

h2{
    font-family: "KWBio27-Display";
}

h3{
    font-family: "KWBio27-Display";
}

p {
    font-family: "KWBio27-Display";
}
.full_width{
    width: 100vw;
}

.full_height{
    height:100vh
}


/*GRAPHIC ELEMENTS*/
.lineBottom{
    border-bottom: black dotted 1px;
    width: 100%;
}

.lineTop{
    border-top: black dotted 1px;
    width: 100%;
}

.lineV {
    border-right: black dotted 1px;
}

.scrollContainer{

}

/* layout */

.H_margin-20p {
    margin-left: 20%;
    margin-right: 20%
}

.upper{
    text-transform: uppercase;
}

.grid-3-3-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-3-4-3{
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
}

.grid-3-7{
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.grid-7-3{
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.grid_v_7-3{
    display: grid;
    grid-template-rows: 7fr 3fr;
}

.grid_even--3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gridH-20-1-79{
    display: grid;
    grid-template-rows: 20vh 1vh 79vh;
}

.portfolio-container{

}

.portfolio-container_infobox{
    padding: 20px;
    height: fit-content;
}

.menu-bar{
    margin-left: 20px;
    margin-right: 20px;
}

.menu-item{
    text-transform: none;
    color: black;
    text-transform: none;
    text-decoration: none;
}

.tags{
    padding: 20px;
    display: grid;
    height: 20px;
    justify-content: left;
    grid-template-columns: repeat(5, auto);
}

.tag{
    border: black 1px solid;
    justify-content: left;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

/* media players */

.theater{
    gap: 20px
}

.video{
    padding:2px;
}